@inherits LayoutComponentBase

<div class="blaz-layout" style="flex:1">
    <div class="blaz-layout-container">
        <div class="blaz-layout-west blaz-layout-card">
            <NavMenu />
        </div>
        <div class="blaz-layout-center blaz-layout-card">
            @Body
        </div>
    </div>
</div>