body {
    margin: 0;
}

    body app {
        display: flex;
        height: 100vh;
    }

.blaz-layout-west .el-card {
    border: none;
    border-radius: 0;
    min-width:265px;
}

.blaz-layout-west .el-card__header {
    color: rgba(255,255,255,.7);
    border: none;
}

.blaz-layout-west .el-card__body .el-menu {
    border: none;
}

.blaz-layout-center .navbar {
    display: flex;
    height: 50px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
    padding-left: 30px;
    padding-right: 30px;
}

    .blaz-layout-center .navbar .fill {
        flex: 1;
    }

    .blaz-layout-center .navbar .tools, .blaz-layout-center .navbar .tools .el-breadcrumb {
        line-height: 50px;
    }

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 0px;
    padding-top: 0px;
    height: 95%;
    width: 95%;
}
.chart-normal {
    border-radius: 4px;
    height: 300px;
    width:400px;
    margin-top:20px;
}
.chart-fill {
    width: 100%;
    height: 90%;
    margin-top: 20px;
    margin-right: 20px;
}
