body {
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 0px;
    padding-top: 0px;
    height: 95%;
    width: 95%;
}
.chart-normal {
    border-radius: 4px;
    height: 300px;
    width:400px;
    margin-top:20px;
}
.chart-fill {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-right: 20px;
}
/*.link-icon {
    width: 32px;
    height: 32px;
    background-image: url(../images/chart-icon.png);
    background-size: 32px;
    background-repeat: no-repeat;
    content:'';
    display:inline-block;
}
.link-icon-line {
    background-position-x: -1px;
    background-position-y: -1px;
}*/